# This file stops Docker from copying your secrets
# and junk into the final image.

# Secrets
.env
.env.*
*.env

# Python junk
venv/
.venv/
__pycache__/
*.pyc

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile