fastapi
uvicorn
gunicorn
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
pydantic-settings
sqlalchemy
databases
alembic
python-multipart
redis
celery[redis]
psycopg2-binary
authlib
itsdangerous
boto3
beautifulsoup4
cryptography
google-generativeai
numpy
langchain-chroma>=0.1.2
langchain==0.3.27
chromadb>=0.5
langchain-huggingface
PyMuPDF

