--extra-index-url https://download.pytorch.org/whl/cpu
torch
gunicorn
python-jose[cryptography]
passlib==1.7.4
bcrypt==4.0.1
pydantic[email]
sqlalchemy
databases
pydantic-settings
fastapi
uvicorn
alembic
google-cloud-vision
nltk
rapidfuzz
authlib
pdfplumber
python-multipart
chromadb>=0.5
langchain-chroma>=0.1.2
pytest
PyMuPDF
google-generativeai
groq
langchain==0.3.27
langchain_huggingface
sentence_transformers
celery[redis]
redis
psycopg2-binary
alembic 
beautifulsoup4  
cryptography 
python-docx
itsdangerous
requests
