python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
sqlalchemy
databases
fastapi
uvicorn
alembic
google-cloud-vision
nltk
rapidfuzz
pdfplumber
sentence-transformers
faiss-cpu
python-multipart
chromadb>=0.5
langchain-chroma>=0.1.2
pytest
PyMuPDF
google-generativeai
groq
langchain
langchain_ollama
langchain_huggingface
sentence_transformers
celery[redis]
redis
psycopg2-binary
alembic 
beautifulsoup4  
cryptography 
python-docx