--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
gunicorn
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
pydantic-settings
sqlalchemy
databases
alembic
python-multipart
redis
celery[redis]
psycopg2-binary
authlib
itsdangerous
boto3
beautifulsoup4
cryptography
google-cloud-vision
nltk
rapidfuzz
pdfplumber
chromadb>=0.5
langchain-chroma>=0.1.2
PyMuPDF
google-generativeai
groq
langchain==0.3.27
langchain_huggingface
sentence_transformers
python-docx
pytest
numpy
